.h-anchor {
	font-size: 100%;
	visibility: hidden;
	color:silver;
}

.h-anchor h1:hover a, h2:hover a, h3:hover a, h4:hover a {
	visibility: visible;
}

pre > code,  samp {
    background: #000;
    color: #ccc;
	text-wrap: nowrap;
	display: block;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-radius: 0.3125rem;
}