.h-anchor {
	font-size: 100%;
	visibility: hidden;
	color:silver;
}

.h-anchor h1:hover a, h2:hover a, h3:hover a, h4:hover a {
	visibility: visible;
}

pre > code,  samp {
    background: #000;
    color: #ccc;
	text-wrap: nowrap;
	display: block;
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	border-radius: 0.3125rem;
}

samp {
	padding: 0.5em;
}