:root{
	--sidebar-width: 18rem;
	--sidebar-padding: 1em;
 }

#sidebar {

	height: 100%; /* Full-height: remove this if you want "auto" height  */
	width: var(--sidebar-width); /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: var(--sidebar-padding);
	padding-left: var(--sidebar-padding);
}

#main-content {
	margin-left: var(--sidebar-width); /* Set the width of the sidebar */
}

/* TableOfContents is a Hugo built-in id */
nav #TableOfContents {
	margin:0;
	padding:0;
}

#TableOfContents ul  {
	margin-top:0;
	margin-bottom:0;
	padding-top:0;
	padding-bottom:0;
}

.h-anchor
{
	font-size: 100%; visibility: hidden; color:silver;
}
.h-anchor h1:hover a, h2:hover a, h3:hover a, h4:hover a
{
	visibility: visible;
}